{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% block title %}Edit Post{% endblock %}
{#{% block head %}#}
{#    {{ super() }}#}
{#    {{  dropzone.load_css() }}#}
{#{% endblock %}#}

{% block content %}
    <div class="page-header">
        <h1>Edit Post</h1>
    </div>
    {{ render_form(form) }}
  {{ ckeditor.load() }}

	{{ ckeditor.config(name='body') }}
{% endblock %}

{% block scripts %}
    {{ super() }}

{#    {{  dropzone.load_js() }}#}
{#    <script type="text/javascript" src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>#}
{% endblock %}
